services:
  fastapi:
    build: ./fastapi
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./fastapi:/app
  client:
    build: ./client
    volumes:
      - ./client:/app
    depends_on:
      - fastapi
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
